.above-fold{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.card{
    position: absolute;
    top: 30%;
    left: 4%;
    transform: translate(-50%, -50%);
}